<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="//db.onlinewebfonts.com/c/2f86dc938a55788d3416b876b43a116a?family=Poppins" rel="stylesheet"
        type="text/css" />

    <!--CSS File-->
    <link rel="stylesheet" href="../../resources/css/admin/manage.css">

    <link rel="icon" href="../../resources/img/logo/SENGA STORE 2022 - favicon.png" type="image/x-icon">

    <title>Usuarios</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!--Sidebar-->
            <div class="col-3 col-md-1 p-0">
                <nav class="pe-1 d-flex flex-column align-items-center sticky-top sidebar">
                    <img class="w-100 mb-4 p-2" src="../../resources/img/logo/SENGA STORE 2022 - icon - white.svg" alt="">
                    <a class="w-100 d-flex l mt-3" href="dashboard.html"><img class="w-75 p-4 py-3 m-auto" src="../../resources/img/admin_icons/home.png" alt=""></a>
                    <a class="w-100 d-flex l" href="manage_orders.html"><img class="w-75 p-4 py-3 m-auto" src="../../resources/img/admin_icons/orders.png" alt=""></a>
                    <a class="w-100 d-flex l" href="manage_articles.html"><img class="w-75 p-4 py-3 m-auto" src="../../resources/img/admin_icons/edit_product.png" alt=""></a>
                    <a class="w-100 d-flex l active-link" href="decide_option.html"><img class="w-75 p-4 py-3 m-auto" src="../../resources/img/admin_icons/category.png" alt=""></a>
                    <a class="w-100 d-flex l" href="manage_suggestions.html"><img class="w-75 p-4 py-3 m-auto" src="../../resources/img/admin_icons/chat.png" alt=""></a>
                    <a class="w-100 d-flex l " href="decide_user.html"><img class="w-75 p-4 py-3 m-auto" src="../../resources/img/admin_icons/edit_user.png" alt=""></a>
                </nav>
            </div>

            <!--Main part of page-->
            <main class="col-9 col-md-11 d-flex flex-column justify-content-center align-items-center">
                <a href="manage_categories.html" class="text-decoration-none w-50">
                    <button class="view-btn d-flex flex-column flex-md-row align-items-center w-100 mb-3">
                        <img src="../../resources/img/admin_icons/category2.png" alt="" width="60px" height="60px">
                        <h4 class="m-auto title">Categoría artículo</h4>
                    </button>
                </a>
                <a href="manage_types.html" class="text-decoration-none w-50">
                    <button class="view-btn d-flex flex-column flex-md-row align-items-center w-100 my-3">
                        <img src="../../resources/img/admin_icons/type.png" alt="" width="60px" height="60px">
                        <h4 class="m-auto title">Tipo artículo</h4>
                    </button>
                </a>
                <a href="" class="text-decoration-none w-50 d-none">
                    <button class="view-btn d-flex flex-column flex-md-row align-items-center w-100 my-3">
                        <img src="../../resources/img/admin_icons/state.png" alt="" width="60px" height="60px">
                        <h4 class="m-auto title">Estado artículo</h4>
                    </button>
                </a>
                <a href="manage_places.html" class="text-decoration-none w-50">
                    <button class="view-btn d-flex flex-column flex-md-row align-items-center w-100 my-3">
                        <img src="../../resources/img/admin_icons/place.png" alt="" width="60px" height="60px">
                        <h4 class="m-auto title">Lugar entrega</h4>
                    </button>
                </a>
                <a href="manage_brands.html" class="text-decoration-none w-50">
                    <button class="view-btn d-flex flex-column flex-md-row align-items-center w-100 my-3">
                        <img src="../../resources/img/admin_icons/brand.png" alt="" width="60px" height="60px">
                        <h4 class="m-auto title">Marcas</h4>
                    </button>
                </a>
                <a href="manage_stock.html" class="text-decoration-none w-50">
                    <button class="view-btn d-flex flex-column flex-md-row align-items-center w-100 mt-3">
                        <img src="../../resources/img/admin_icons/product.svg" alt="" width="60px" height="60px">
                        <h4 class="m-auto title">Existencias</h4>
                    </button>
                </a>
            </main>
        </div>
    </div>
     

     

     <footer class="footer">
        <div class="container footer-final d-flex align-items-center justify-content-center">
            <div class="row w-100 d-flex flex-column-reverse flex-md-row">
                <div class="col-12 col-md-8 col-lg-9 d-flex align-items-center justify-content-center justify-content-md-start ps-0">
                    <p class="rights text-white m-0">Copyright © 2022 <span class="red-text">Senga Store</span>. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-evenly justify-content-md-between p-0 ps-md-5 mb-4 mb-md-0">
                    <a href="https://facebook.com"><img class="footer-media" src="../../resources/img/facebook.png" alt=""></a>
                    <a href="https://whatsapp.com"><img class="footer-media" src="../../resources/img/whatsapp.png" alt=""></a>
                    <a href="https://instagram.com"><img class="footer-media" src="../../resources/img/instagram.png" alt=""></a>
                    <a href="https://twitter.com"><img class="footer-media" src="../../resources/img/twitter.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>