<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Fonts-->
    <link href="//db.onlinewebfonts.com/c/2f86dc938a55788d3416b876b43a116a?family=Poppins" rel="stylesheet"
        type="text/css" />
    <link href="//db.onlinewebfonts.com/c/544da55955a950deb15d6a7536c4da34?family=Brandon+Grotesque+Regular"
        rel="stylesheet" type="text/css" />

    <!--CSS File-->
    <link rel="stylesheet" href="../../resources/css/public/essentials.css">
    <link rel="stylesheet" href="../../resources/css/public/products.css">

    <link rel="icon" href="../../resources/img/logo/SENGA STORE 2022 - favicon.png" type="image/x-icon">

    <title>Productos</title>
</head>

<body>
    <nav class="sticky-top">
        <iframe id="navbar" class="if-navbar" width="100%" height="100px" src="components/navbar.html"
            frameborder="0"></iframe>
    </nav>
    <button id="activate" class="d-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        Button with data-bs-target
    </button>


    <!--Sidebar-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header d-flex align-items-start">
            <img class="w-50" src="../../resources/img/logo/SENGA STORE 2022 - icon - dark.svg" alt="">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
               Senga Store tu tienda de confianza en artículos relacionados al anime y al gaming de la mejor calidad!
            </div>
            <div class="d-flex flex-column mt-5">
                <a class="off-nav-link text-reset text-decoration-none d-flex align-items-center p-3 mb-3" href="index.html"><hr><p> INICIO </p></a>
                <a class="off-nav-link text-reset text-decoration-none d-flex align-items-center p-3 mb-3" href="departments.html"><hr><p>PRODUCTOS</p></a>
                <a class="off-nav-link text-reset text-decoration-none d-flex align-items-center p-3 mb-3" href="about.html"><hr><p>NOSOTROS</p></a>
                <a class="off-nav-link text-reset text-decoration-none d-flex align-items-center p-3 mb-3" href="login.html"><hr><p>Iniciar sesión</p></a>
                <a class="off-nav-link text-reset text-decoration-none d-flex align-items-center p-3 mb-3" href="signup.html"><hr><p>Registrarse</p></a>
            </div>
        </div>
    </div>

    <!--Modals-->
    <div id="modalsComponents" class="p-0" style="width: 0;"></div>

    <header class="container">
        <section class="row">
            <div class="col-12 title d-flex align-items-center justify-content-center justify-content-md-between p-0 my-5">
                <div>
                    <h2>PRODUCTOS POPULARES</h2>
                    <hr class="title-hr-1 opacity-100 m-0 mb-3">
                    <hr class="title-hr-2 opacity-100 m-0">
                </div>
            </div>
        </section>
    </header>
    <main class="container">
        <section class="row d-flex justify-content-center justify-content-md-between">
            <nav class="nav-filters col-10 col-md-4 col-xl-3 p-0">
                <a class="department text-decoration-none first" href="#"><button class="mt-0">PRODUCTOS POPULARES</button></a>
                
                <a class="department text-decoration-none"><button class="">ANIME</button></a>
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#animeCollapse1"><p class="category">▾ Ropa</p></a>
                <div class="collapse" id="animeCollapse1">
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 1, 1)"><p class="product-type">Camisas</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 1, 2)"><p class="product-type">Hoodies</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 1, 3)"><p class="product-type">Gorras</p></a>
                </div>

                <a class="text-decoration-none" data-bs-toggle="collapse" href="#animeCollapse2"><p class="category">▾ Figuras</p></a>
                <div class="collapse" id="animeCollapse2">
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 2, 4)"><p class="product-type">Figuras</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 2, 5)"><p class="product-type">Peluches</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 2, 6)"><p class="product-type">Funko Pop</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 2, 7)"><p class="product-type">Llaveros</p></a>
                </div>
                
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#animeCollapse3"><p class="category">▾ Personalizables</p></a>
                <div class="collapse" id="animeCollapse3">
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 3, 8)"><p class="product-type">Tazas</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 3, 9)"><p class="product-type">Almohadas</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 3, 10)"><p class="product-type">Fundas teléfono</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(1, 3, 11)"><p class="product-type">Mouse pads</p></a>
                </div>
                <a class="text-decoration-none" onclick="categorizeProducts(1, 4, null)"><p class="category">Películas</p></a>
                <a class="text-decoration-none" onclick="categorizeProducts(1, 5, null)"><p class="category">Mangas</p></a>


                <a class="department text-decoration-none last" ><button class="">GAMING</button></a>
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#gamingCollapse1"><p class="category">▾ Ropa</p></a>
                <div class="collapse" id="gamingCollapse1">
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 1, 1)"><p class="product-type">Camisas</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 1, 2)"><p class="product-type">Hoodies</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 1, 3)"><p class="product-type">Gorras</p></a>
                </div>

                <a class="text-decoration-none" data-bs-toggle="collapse" href="#gamingCollapse2"><p class="category">▾ Figuras</p></a>
                <div class="collapse" id="gamingCollapse2">
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 2, 4)"><p class="product-type">Figuras</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 2, 5)"><p class="product-type">Peluches</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 2, 6)"><p class="product-type">Funko Pop</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 2, 7)"><p class="product-type">Llaveros</p></a>
                </div>
                
                <a class="text-decoration-none" data-bs-toggle="collapse" href="#gamingCollapse3"><p class="category">▾ Accesorios PC</p></a>
                <div class="collapse" id="gamingCollapse3">
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 6, 12)"><p class="product-type">Audífonos</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 6, 13)"><p class="product-type">Bocinas</p></a>
                    <a class="text-decoration-none" onclick="categorizeProducts(2, 6, 11)"><p class="product-type">Mouse pad</p></a>
                </div>
                <a class="text-decoration-none" onclick="categorizeProducts(2, 7, null)"><p class="category">Accesorios PlayStation</p></a>
                <a class="text-decoration-none" onclick="categorizeProducts(2, 8, null)"><p class="category">Accesorios Xbox</p></a>
                <a class="text-decoration-none" onclick="categorizeProducts(2, 9, null)"><p class="category mb-3">Accesorios Nintendo</p></a>
            </nav>

            <div class="col-12 col-md-8 col-xl-9 d-flex flex-wrap justify-content-evenly" id="main">
                <iframe class="product p-0" src="components/product.html" frameborder="0"></iframe>
                <article class="col-4 product m-0 overflow-hidden">
                    <img class="img-product position-absolute" src="../../../resources/img/products/RazerMousepad1.jpg" alt="">
                    <div class="elements">
                        <div class="stars d-flex flex-row align-items-center justify-content-center m-0 overflow-hidden">
                            <p class="fs-5 m-0 me-1">5</p>
                            <img src="../../../resources/img/public_icons/star1.png" alt="">
                        </div>
                        <p class="add-cart d-flex justify-content-center align-items-center m-0 opacity-0">Añadir a carrito</p>
                        <p class="preview text-white d-flex justify-content-center align-items-center m-0 opacity-0">Vista previa</p>
                    </div>
                    <div class="text-product p-3">
                        <h3 class="m-0"><a href="../product.html" target="_parent" class="text-decoration-none text-black">MOUSE PAD RGB</a></h3>
                        <div class="d-flex justify-content-between">
                            <p>Figure</p>
                            <p>$20.99</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer position-absolute">
        <iframe width="100%" height="100%" src="components/footer.html" frameborder="0"></iframe>
    </footer>
    <div class="f footer position-absolute"> </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/products.js"></script>
</body>

</html>