*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {font-family: "Poppins Bold"; src: url("//db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.eot"); src: url("//db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.woff") format("woff"), url("//db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/07ecc0aa9ce268962dea7356eeff50a6.svg#Poppins") format("svg"); }

:root{
    --main-color: #ff5757;
    --title-font: "Poppins Bold"
}
body{ background-color: #F5F5FD; }

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px;
}
::-webkit-scrollbar-corner {border-radius: 5px;}

/*Sidebar*/
.sidebar{ width: 108px; height: 100vh; background-color: #373737;}
.active-link{ box-shadow: 4px 0px 0px var(--main-color); }
.l{ transition: all 0.5s; margin: 10px 0px 10px 0px;}
.l:hover{ box-shadow: 4px 0px 0px var(--main-color); }

.expand{cursor: pointer;}

/*Footer*/
.footer{ border-top: 3px solid var(--main-color); background-color: #373737; }
.footer-final{ height: 77px; }
.rights{
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 300;
}
.red-text{ color: var(--main-color) !important; }
.footer-media{ height: 30px; }



@media screen and (max-width: 575px){
    .sidebar{ width: 80px; }
    .l img{ width: 100% !important; }

    .footer{ height: 150px; }
    .footer-final{ height: 150px; }
    .rights{ text-align: center; }
}

@media screen and (min-width: 768px) and (max-width: 991.9px){
    .sidebar{ width: 80px; }
    .l img{ width: 100% !important; }
}

/*---------------------------------------------------------------------------*/

h1{
    font-family: "Poppins Bold";
}
.profile-photo{
    border-radius: 100%;
}
.form-select{
    box-shadow: 0px 5px 0px var(--main-color);
    background-color: #F5F5FD;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.form-select:focus{
    box-shadow: 0px 5px 0px var(--main-color);
}

.edit{
    background-color: transparent;
    border: none;
    color: var(--main-color);
}

.cart{
    background-color: var(--main-color);
    border-radius: 100px;
    border: none;
    color: white;
    height: 40px;
    transition: all 0.3s;
}
.cart:hover{
    background-color: white;
    color: var(--main-color);
    box-shadow: -5px 5px 12px -5px var(--main-color);
}


.title{ font-family: var(--title-font); }
.title-link, .title-link:hover{ color: #707070; }
.title-hr-1, .title-hr-2{
    height: 5px !important;
    background-color: var(--main-color);
    width: 300px;
}
.title-hr-2{ width: 150px; }